<% include ./header.ejs %>

<body>
  <div id="topbar">
    <div id="title">Folders</div>
      <div id="leftnav">
        <a href="/">
          <img src="img/home.png" alt="Home">
          <a href="javascript:history.back()">Back</a>
        </a>
      </div>
    <div id="rightnav">
      <a href="/menu">Menu</a>
    </div>
  </div>

<% include ./error-log-msg.ejs %>

  <% if (item) { %>
  <div class="applist">
    <div id="content">
      <ul>
      <% item.forEach(function(item){ %>
        <% if (item.type == 'directory') { %>
        <li>
          <span onClick='getPage("mb?d=<%=item.path%>")'>
            <img class= "image" src="/img/folder.png" alt="">
          </span>
          <span>
            <span class="dirname"><%= item.name%></span>
            <!-- <span class = "comment"></span> -->
            <span class="arrow" onclick='onAddToQuenue("<%=item.path%>")'>
            <!-- <img src="img/remove.png" alt="" style="width: 15px;"> -->
            </span>
          </span>
        <%}%>
        <% if (item.type == 'file') { %>
        <li>
          <img class="image" src="/img/note.png" alt="">
          <div>
            <span class="dirname"><%= item.name%></span>
            <!-- <span class = "comment"></span> -->
            <span class="arrow" onclick='onAddToQuenue("<%=item.path%>")'>
            <!-- <img src="img/remove.png" alt="" style="width: 15px;"> -->
            </span>
          </div>
        </li>
        <%}%>
      <% }) %>
        <li class="withimage hide" style="border:none">
          <img  src="/img/wdot.png">
        </li>
      </ul>
    </div>
  </div>

  <% include ./player.ejs %>
  <% } %>
  <% include ./footer.ejs %>
</body>
</html>
