<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <title>MPD.FM</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/slider.css">
  <style>

  .progressDiv {
    text-align: center;
    width: 270px;
    height: 10px;
    padding-top: 20px;
    padding-bottom: 20px;


  }
  #myProgress {
  width: 100%;
  background-color: #CCC;
  /*height: 2px;*/
  top: 5px;
}

#myBar {
  width: 0;
  height: 2px;
  background-color: rgb(73,102,145);
  /*background-color: #932cc9;*/
}

.dot {
    height: 6px;
    width: 6px;
    background-color: #AAA;
    border-radius: 50%;
    position: relative;
    top: -4px;
    margin-left: 0;
    /*float: right;*/
}
.progressDiv #elapsed {
display: block;
float: left;
font-size: 0.7em;
color: #AAA;
}
.progressDiv #duration {
display: block;
float: right;
font-size: 0.7em;
color: #AAA;
}
.song-info-text {
  margin-top: 15px;
}  

</style>


</head>

<body >
  <div id="topbar">
    <div id="leftnav">
      <a href="/">
        <img src="img/home.png" alt="Home">
      </a>
    </div>
    <div id="rightnav">
      <a href="/menu">Menu</a>
      <!-- <img src="img/navicon.png" alt="Menu"></a> -->
    </div>
  </div>

  
<% include ./error-log-msg.ejs %>
      

  <div class="log-content display-none"></div>

  <div class="homelist">
    <div id="content">
      <div id="player-home" class = "center">
        <div>
          <div class="cover">
            <img src="img\station_logo\empty.png" alt="" class="home-image" id="station_logo">
          </div>
        </div>
        <div class="progressDiv center" id="progressDiv">
          <div id="myProgress" >
            <div id="myBar"></div>

          <!-- <input id="seekslider" type="range" min="0" max="100" value="0" step="1"> -->
          </div>
          <div class="dot" id="dot"></div>
          <div>
          <span id="elapsed"></span>
          <span id="duration"></span>
          </div>
        </div>
        <div>
          <div class="song-info-text">
            <p class="info-heading header" id="station"></p>
            <p class="info-track clip" id="song"></p>
                    <!-- <p></span><span id="duration"></span></p> -->
          </div>
          <div>
            <!-- <span class="small" id="elapsed" ></span> -->
            <!-- <span class="small" id="duration"></span> -->
          </div>
        </div>
        <div id="play-control">
          <img src="img/irewind.png" alt="" class="pure-img-responsive" style="padding-bottom: 8px;" onclick="doPrev()">
          <img src="img/iplay.png" alt="" id="playStatus" class="pure-img-responsive" style="padding-left: 20px;padding-right: 20px;" onClick="onPlayButton()">
          <img src="img/iforward.png" alt="" class="pure-img-responsive" style="padding-bottom: 8px;" onclick="doNext()">
        </div>

        <div>
          <span class="op-button option-off" id="shuffle" onclick="doShuffle()">shuffle</span>
                <!-- <span class="op-button option-off" id="random" onclick="toggleMpdOptions('random')">random</span> -->
          <span class="op-button option-off" id="single" onclick="toggleMpdOptions('single')">single</span>
          <span class="op-button option-off" id="repeat" onclick="toggleMpdOptions('repeat')">repeat</span>
          <!-- <span class="op-button option-off" id="fav" onclick="onAddToFvorites()">fav</span> -->
        </div>
      </div>

      <div>
        <ul id="ul_queue">
        <% if (item !== undefined) { %>
        <% if (item.length > 0) { %>                
          <li class="title">Playlist</li>
          <% item.forEach(function(item){ %>
          <% if (item.Id !== undefined) {%>
          <li id="quenue_<%=item.Id%>" onclick="sendPlayId('<%=item.Id%>')">
            <div>
              <span class="name">
                <%= item.Title %>
              </span>
              <span class = "comment">
              <% if (item.Artist) { %>
                <%=item.Artist%> - %>
              <% } %>
              <% if (item.Album) { %>
                <%=item.Album %> %>
              <% } %>
              </span>
                        <!-- <span class="arrow" onclick="onRemoveFromQueue('<%=item.Id%>')"> -->
                           <!-- <img src="img/remove.png" alt="" style="width: 15px;"> -->
                        <!-- </span> --> 
            </div>
          </li>
          <% } %>  
          <% }) %>
        <% } %>
        <% } %>                
        </ul>
      </div>
    </div>
  </div>
<!-- <script src="js/jquery-3.3.1.min.js"></script> -->
<% include ./footer.ejs %>


<script>
  var seeking;
  var newPos;
  var seekto;
  var progressDiv = document.getElementById("progressDiv");
  // var progressDot = document.getElementById("dot");
  // progressDot.addEventListener("mousedown", function(event){ 
  //   // seeking=true; 
  //   console.log("dot", event.clientX)
  // });
  progressDiv.addEventListener("mousedown", function(event){ 
     seeking=true; 
     seek(event); 
    console.log("mouse")
  });
  // progressDiv.addEventListener("mousemove", function(event){ seeking=true; }); 
  progressDiv.addEventListener("mouseup",function(event){ seeking=false; });  
  function seek(event){
      if(seeking){
        newPos = event.clientX - progressDiv.offsetLeft;
        seekto = Math.floor(data.duration * (newPos/270))
        console.log("SEEK_CUR", seekto)
        // setDOMelementStyle('myBar', 'width:'+ newPos + 'px' )
        if (seekto <= data.duration || seekto >= 0 ) {
          sendWSSMessage("SEEK_CUR", seekto);  
        }
        
          //seekto = audio.duration * (seekslider.value / 100);
          //audio.currentTime = seekto;
      }
    }      
  
</script>
</body>
</html>
