<% include ./header.ejs %>

<body>
  <div id="topbar">
    <div id="title">Radio</div>
      <div id="leftnav">
        <a href="/">
          <img src="img/home.png" alt="Home">
        </a>
      </div>
    <div id="rightnav">
      <a href="/menu">Menu</a>
      <!-- <a href="/menu">Edit</a> -->
          <!-- <img src="img/navicon.png" alt="Menu"></a> -->
    </div>
  </div>

<% include ./error-log-msg.ejs %>

  <div class="applist">
    <div id="content">
    <% if (item.length) { %>
      <ul>
      <% item.forEach(function(item){ %>
        <li>
          <span onclick="onPlayStation('<%= item.stream %>')">
            <img class="image" src="<%= item.logo %>" alt="<%= item.station %>">
          </span>
          <div>
            <span class="name"><%= item.station %></span>
            <span class = "comment"><%= item.desc %></span>
                  <!-- <span class="arrow" onclick="onAddToQuenue('<%=item.path%>')"> -->
                  <!-- <img src="img/remove.png" alt="" style="width: 15px;"> -->
          </div>
        </li>
      <% }) %>
        <li class="withimage" style="border:none">
          <img  src="/img/wdot.png">
        </li>
      </ul>
    <% } %>
    </div>
  </div>

  <% include player.ejs %>

  <% include footer.ejs %>

</body>
</html>
