


<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <title>MPD.FM</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="topbar">
        <div id="title">Database stats</div>
        <div id="leftnav">
            <a href="/">
                <img src="img/home.png" alt="Home">
            </a>
        </div>
        <div id="rightnav">
            <a href="/menu">Menu</a>
        </div>
    </div>

<% include ./error-log-msg.ejs %>

<% if (stats) { %>
    <div class="list">
        <div id="content">

            <ul>
                <li>
                    <div>
                        <span class="name">artists:</span><span id="artists" class="value"><%=stats.artists%></span>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="name">albums:</span><span id="albums" class="value"><%=stats.albums%></span>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="name">songs:</span><span id="songs" class="value"><%=stats.songs%></span>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="name">uptime:</span><span id="uptime" class="value"><%=stats.uptime%></span>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="name">playtime:</span><span id="playtime" class="value"><%=stats.playtime%></span>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="name">db_playtime:</span><span id="db_playtime" class="value"><%=stats.db_playtime%></span>
                    </div>
                </li>
                <li>
                    <div>
                        <span class="name">db_update:</span><span id="db_update" class="value"><%=stats.db_update%></span>
                    </div>
                </li>

            </ul>
            <div class="center button-panel">
                <span class="mpd-button" onclick="updateDB()">Update DB</span>
                <span class="mpd-button" onclick="rescanDB()">Rescan DB</span>
            </div>


        </div>
    </div>






<% include ./player.ejs %>
<%}%>
<% include ./footer.ejs %>

</body>
</html>
